<div class="full-page-height">

	{{input type="text" class="input" value=filterMatch key-up=(action 'filterList')}}

	<div id="SobjectList" class="menu">
		<ul class="menu-list">
			{{#each filteredSobjects as |sobject|}}
				<li>
					<a {{action "setAsActiveSobject" sobject.id}} class={{if sobject.isActive "is-active"}}>
						<div>
							{{sobject.name}}
						</div>
						<span class="is-size-7 has-text-grey-light">
							{{sobject.label}}
						</span>
					</a>
				</li>
			{{/each}}
		</ul>
	</div>
</div>

{{yield}}