<div>
	<p>User Id: {{auth.userInformation.userId}}</p>
	<p>Org Id: {{auth.userInformation.organizationId}}</p>
	<p>Domain: {{auth.userInformation.instanceUrl}}</p>
	<p>Session Id: {{auth.userInformation.sessionId}}</p>
</div>
{{trace-flags 
	traceFlags=model.traceFlags 
	debugLevels=model.debugLevels 
	onNewTraceFlag=(action "createNewTraceFlag")
	onSaveNewTraceFlag=(action "saveNewTraceFlag")
	onUpdate=(action "updateTraceFlag") 
	onDelete=(action "deleteTraceFlag") 
	onCancel=(action "cancelModification")
	onRefresh=(action "refreshTraceFlags")
}}